<div class="hero">
    <div class="header">
        <header class="header_content">
            <div class="preview_header"></div>
            <div class="logo_header">
                <div class="logo_item"></div>
                <div class="logo_item_1"></div>
                <div class="logo_item_2"></div>
                <div class="logo_item_3"></div>
                <div class="logo_item_4"></div>
                <div class="logo_item_5"></div>
            </div>
        </header>
    </div>

    <div class="group_108">
        <div class="group_108_text">Доступно на <br> всех платформах</div>
        <button class="group_108_button">
            <div class="group_108_button_text">Узнать больше</div>
        </button>
    </div>
</div>

<div class="block_2">
    <div class="block_2_header">Найт-Сити изменит тебя навсегда!</div>
    <div class="block_2_text"><a href="#" class="block_2_text_url">Cyberpunk 2077</a> — приключенческая ролевая игра,
        действие которой происходит в мегаполисе
        Найт-Сити, где власть, роскошь и модификации тела ценятся выше всего. Ты играешь за V, наёмника в поисках
        устройства, позволяющего обрести бессмертие. Ты сможешь менять киберимпланты, навыки и стиль игры своего
        персонажа, исследуя открытый мир, где твои поступки влияют на ход сюжета и всё, что тебя окружает.</div>
    <div class="block_2_image_1"></div>
    <div class="block_2_image_2"></div>
    <div class="block_2_image_3"></div>
</div>

<div class="gradient"></div>

<div class="block_3">
    <div class="block_3_logo"></div>
    <div class="block_3_header">Играй и выигрывай!</div>
    <div class="block_3_text">Играй в <a href="#" class="block_3_text_button">Cyberpunk 2077</a> и получи возможность
        выиграть консоль <a href="#" class="block_3_text_button">Xbox Series X</a>
        или <a href="#" class="block_3_text_button">Sony
            PlayStation 5!</a> Заполни форму ниже и приложи скриншот о покупке игры. Итоги розыгрыша будут подведены 1
        февраля.
        Удачи! ;)</div>
    <div class="block_3_form">

        <form>
            <input required placeholder="Как тебя зовут?" type="text" class="form-control form_name">
        </form>

        <form>
            <input required placeholder="Твой е-mail" type="email" class=" form_email">
        </form>

        <div class="block_3_form_client">
            <label class="label">
                <input type="file" multiple accept="image/*" />
            </label>
        </div>

        <form>
            <input class="button_submit" type="submit" value="Отправить">
        </form>
    </div>
    <div class="block_3_image"></div>
</div>

<div class="block_4">4</div>

<div class="block_5">5</div>

<footer class="footer">footer</footer>