<div class="hero">
    <div class="header">
        <header class="header_content">
            <div class="preview_header"></div>
            <div class="logo_header">
                <div class="logo_item"></div>
                <div class="logo_item_1"></div>
                <div class="logo_item_2"></div>
                <div class="logo_item_3"></div>
                <div class="logo_item_4"></div>
                <div class="logo_item_5"></div>
            </div>
        </header>
    </div>

    <div class="group_108">
        <div class="group_108_text">Доступно на <br> всех платформах</div>
        <button class="group_108_button">
            <div class="group_108_button_text">Узнать больше</div>
        </button>
    </div>
</div>

<div class="block_2">
    <div class="block_2_header">Найт-Сити изменит тебя навсегда!</div>
    <div class="block_2_text"><a href="#" class="block_2_text_url">Cyberpunk 2077</a> — приключенческая ролевая игра,
        действие которой происходит в мегаполисе
        Найт-Сити, где власть, роскошь и модификации тела ценятся выше всего. Ты играешь за V, наёмника в поисках
        устройства, позволяющего обрести бессмертие. Ты сможешь менять киберимпланты, навыки и стиль игры своего
        персонажа, исследуя открытый мир, где твои поступки влияют на ход сюжета и всё, что тебя окружает.</div>
    <div class="block_2_image_1"></div>
    <div class="block_2_image_2"></div>
    <div class="block_2_image_3"></div>
</div>

<div class="gradient"></div>

<div class="block_3">
    <div class="block_3_logo"></div>
    <div class="block_3_header">Играй и выигрывай!</div>
    <div class="block_3_text">Играй в <a href="#" class="block_3_text_button">Cyberpunk 2077</a> и получи возможность
        выиграть консоль <a href="#" class="block_3_text_button">Xbox Series X</a>
        или <a href="#" class="block_3_text_button">Sony
            PlayStation 5!</a> Заполни форму ниже и приложи скриншот о покупке игры. Итоги розыгрыша будут подведены 1
        февраля.
        Удачи! ;)</div>
    <div class="block_3_form">

        <form>
            <input required placeholder="Как тебя зовут?" type="text" class="form-control form_name">
        </form>

        <form>
            <input required placeholder="Твой е-mail" type="email" class=" form_email">
        </form>

        <div class="block_3_form_client">
            <label class="label">
                <a class="block_3_form_file" href="#" type="submit">Прикрепить скриншот</a>
                <span class="block_3_form_file">.png / .jpg / .pdf</span>
            </label>
        </div>
    </div>

    <form>
        <input class="button_submit text" type="submit" value="Отправить">
        <div class="check_mark">
            <span class="check_mark_logo" style="background-image: url(/fav/cuberpunk/check-mark.svg);"></span>
            <span class="check_mark_text text">Согласен на обработку персональных данных</span>
        </div>
    </form>

    <div class="block_3_image"></div>
</div>

<div class="gradient_2"></div>

<div class="block_4">
    <div class="block_4_image"></div>

    <div class="block_4_content">

        <div class="block_4_content_title text">Полное погружение вместе с HP</div>

        <div class="block_4_content_description text">Погрузись в современные экшен-игры с реалистичным изображением с
            помощью монитора с диагональю 23,8 дюйма, созданном для отображения максимально насыщенных цветов. Успевай
            реагировать на любые события с временем отклика 1 мс и частотой в 144 Гц!</div>
        <div class="block_4_content_properties">
            <div class="block_4_content_properties-item">
                <span class="block_4_content_properties-item--image"
                    style="background-image: url(/fav/cuberpunk/logo/colot-lens.svg)"></span>
                <div class="block_4_content_properties-item--text text_roboto">Яркие насыщенные цвета</div>
            </div>

            <div class="block_4_content_properties-item">
                <span class="block_4_content_properties-item--image"
                    style="background-image: url(/fav/cuberpunk/logo/awesome.svg)"></span>
                <div class="block_4_content_properties-item--text">Кристальная четкость изображения</div>
            </div>

            <div class="block_4_content_properties-item">
                <span class="block_4_content_properties-item--image"
                    style="background-image: url(/fav/cuberpunk/logo/awesome-motion.svg)"></span>
                <div class="block_4_content_properties-item--text">Быстрые движения и плавный геймплей</div>
            </div>
        </div>

        <button class="block_4_content_button text-roboto">Подробнее</button>

    </div>

    <div class="block_4_logo">
        <span class="block_4_image logo_1" style="background-image: url(/fav/cuberpunk/logo/hp.svg);"></span>
        <span class="block_4_image logo_2" style="background-image: url(/fav/cuberpunk/logo/cubpunk.png);"></span>
    </div>
</div>

<div class="block_5">
    <div class="block_5_image"></div>

    <div class="block_5_content">
        <strong class="block_5_content_title">Купить игру <br> Cyberpunk 2077</strong>

        <div class="block_5_content_properties">
            <strong class="block_5_content_properties_title">В комплект входит:</strong>

            <div class="block_5_content_properties-item">
                <span class="properties_image" style="background-image: url(/fav/cuberpunk/logo/disk.svg)"></span>
                <div class="block_5_content_properties-item--text text_roboto">Футляр с игровыми дисками</div>
            </div>

            <div class="block_5_content_properties-item">
                <span class="properties_image" style="background-image: url(/fav/cuberpunk/logo/wysi.svg)"></span>
                <div class="block_5_content_properties-item--text">Футляр с кодом для загрузки игры и дисками (pc)</div>
            </div>

            <div class="block_5_content_properties-item">
                <span class="properties_image" style="background-image: url(/fav/cuberpunk/logo/collection.svg)"></span>
                <div class="block_5_content_properties-item--text">Справочник с информацией об игровом мире</div>
            </div>
        </div>

        <div class="block_5_content_platform">
            <strong class="block_5_content_platform_title">Выберите платформу:</strong>

            <span class="block_5_content_platform_logo platform_1"
                style="background-image: url(/fav/cuberpunk/baner/pc-big.svg);"></span>

            <span class="block_5_content_platform_logo platform_1"
                style="background-image: url(/fav/cuberpunk/baner/pc-big.svg);"></span>

        </div>
    </div>
</div>

<footer class="footer">footer</footer>